:root {
  --background-color: #26242b;
  --text-color: #e9e9e9;
  --link-color: #0070f3;
  --border-color: #eaeaea;
  --border-radius: 20px;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.5;
  --button-color: #404040;
  --button-border-color: #363636;
  --button-hover-color: #682A8F;
  --button-hover-border-color: #682A8F;
  --hollow-button-color: #26242b;
  --hollow-button-border-color: #682A8F;
  --hollow-button-hover-color: #404040;
  --hollow-button-hover-border-color: #8053aa;
  --filled-button-color: #682A8F;
  --filled-button-border-color: #682A8F;
  --filled-button-hover-color: #8053aa;
  --filled-button-hover-border-color: #8053aa;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--background-color);
}