.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 60vw;
  margin: auto auto;
  text-align: center;
}

.title {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  line-height: 4rem;
}

.description {
  font-size: 1.5rem;
  margin-top: 0;
}

.searchUtility {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchUtility > * {
  margin: 0 1rem;
}

.input {
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  max-width: 50vw;
}

.button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: var(--button-color);
  border: 1px solid var(--button-border-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  transition: ease-in 0.1s;
}

.button:hover {
  background-color: var(--button-hover-color);
  border-color: var(--button-hover-border-color);
}

.storesContainer {
  position: relative;
  overflow-y: scroll;
}

.storesContainer::-webkit-scrollbar {
  display: none;
}

.storesContainer > * {
  padding-top: 0.5rem;
}

.loadingImage {
  animation: spin 1s linear infinite;
  overflow: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
